html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;

}

footer {
  background-color: rgb(86, 105, 147);
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ddd;
  font-size: 0.9rem;
  color: #ffffff;
  font-family: "aleo";
}