.form-dashboard {
  /* position: fixed;
  top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 450px;
  max-height: 100vh;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;

}

.label-dashboard {
  font-family: "aleo";
  font-size: 16px;
  display: flex;
}

.btn-dashboard {
  background-color: rgb(175, 163, 210);
  color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 5px;

}