.section-dashboard {
  max-width: 400px;
  margin: 60px auto;
  padding: 40px;

}

.form-dashboard {

  display: inline-block;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: 10px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
}

.label-dashboard {
  font-family: "aleo";
  font-size: 16px;
  display: flex;
}

.btn-dashboard {
  background-color: rgb(53, 127, 218);
  color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 8px;
  border: none;
  font-size: 15px;

}