/* Estilos globales */

/* Estilos generales para el home */
section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Título principal */
section h1 {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.features-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Subtítulos */
section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #444;
  text-align: center;
}



.p-card {
  border-radius: 20px;
  box-shadow: 10px 10px 81px -41px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 81px -41px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 81px -41px rgba(0, 0, 0, 0.75);
}

/* Párrafos */
section p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  text-align: center;
}

/* Lista de beneficios */
section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
  list-style: none;
  margin-top: 2rem;
}

/* Cada ítem */
section ul li {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1.5rem;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.3s ease;
}

section ul li:hover {
  transform: translateY(-5px);
}

/* Título del ítem */
section ul li h3 {
  font-size: 1.3rem;
  color: #222;
  margin-bottom: 0.5rem;
}

/* Texto del ítem */
section ul li p {
  color: #666;
  font-size: 1rem;
  margin: 0;
}


section ul li {
  width: 90%;
}


/* grid de productos*/
#products-grid {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  margin-top: 20px;
  /* background-color: #F5F5F5; */

}

/* acá van los estilos del grid de productos */
.products {
  border: 1px solid #9aacc4;
  border-radius: 12px;
  padding: 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-img {
  max-width: 100px;
  height: auto;
  object-fit: contain;
  margin-bottom: 12px;
}

.p-title {
  font-size: 15px;
  color: #2D3748;
  font-family: "aleo";

}

.p-description {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
}

.p-price {
  font-size: 20px;
  font-weight: bold;
  color: rgb(94, 155, 247)
}

.p-category {
  font-family: Arial,
    Helvetica,
    sans-serif;
  font-size: 15px;
  color: rgb(238, 188, 130);
}

/* barra de búsqueda */
.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-input {
  width: 250px;
  padding: 10px 15px;
  border: 2px solid rgb(86, 105, 147);
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

.search-input::placeholder {
  color: #aaa;
  font-style: italic;
}

.search-input:focus {
  border-color: #ff8ac0;
  box-shadow: 0 0 8px rgba(231, 126, 173, 0.6);
}

/* media query */

@media (max-width: 768px) {
  .features-list ul {
    flex-direction: column;
    align-items: center;
  }

  .p-card {
    max-width: 90%;
  }
}

.p-error {
  font-size: 20px;
  height: 50px;
}

/* boton una vez registrado el login */

.btn-update {
  padding: 8px;
  background-color: rgb(94, 155, 247);
  border-radius: 5px;
  margin: 5px;
  color: white;
  border: none;
}

/* tarjeta de editar el producto */

.popup-edit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 450px;
  max-height: 100vh;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;

}

/* Fondo detrás del popup */
.popup-edit::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 232, 238, 0.5);
  z-index: -1;
}

/* Título */
.popup-edit h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Botón cerrar */
.popup-edit>button {
  background: #e22525;
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 6px;
  border-radius: 3px;
}


/* input del form de editar */
.input-edit {
  padding: 5px;
  margin: 10px;
  border-radius: 2px;
  font-size: 14px;
}

.textarea-edit {
  padding: 5px;
  margin: 10px;
  height: 35vh;
  width: 100%;
  border-radius: 2px;
  font-size: 14px;

}

/* Botón actualizar */
.popup-edit form button {
  background: #007BFF;
  color: white;
  padding: 9px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;

}

/* efecto hover */
.popup-edit form button:hover {
  background: #0056b3;
}